# COGS 108 - Final Project

# Overview

Emissions from vehicles have been adding to the everlasting modern-day problems of air pollution and traffic. The introduction of electric vehicles along with a greater emphasis placed on walking, biking, and/or using micro-mobility resources for transportation has reduced the impact to the growing gas emission problem as well as traffic congestion. However, there is still a reliance on vehicles to get people to their destinations, which is what rideshare services alleviate. These programs allow for multiple people to join a ride going in a similar destination, serving as a carpool, which saves gas, time, and money. 

Many people have contemplated either buying a car or just continuing to use rideshare options, especially when Uber and Lyft constantly promote their services with discount codes. New vehicles cost tens of thousand dollars, and research shows that cars are not even used 95% of the time(Barter). On average, a car is in usage for 6 out of the 168 hours of the week. This number is so small and on top of that the cost of owning a car continues to increase because of the maintenance, insurance, and the possibility of crashes. 

Rideshare programs such as Uber and Lyft are almost ubiquitous in our modern day world. Studies have shown that rideshare services have increased 37% from 1.9 billion to 2.61 billion people from 2016 to 2017. Both Uber and Lyft claim that one of their driving principles revolves around reducing traffic congestion through minimizing car ownership and usage. In urban cities such as San Francisco, Los Angeles and New York, analyzing peak commute times would prove to be a sound indicator of whether these companies are alleviating the flow of traffic.  

To investigate, we would analyze accumulated data about traffic patterns during peak commute times in densely populated cities since the onset of rideshare popularity. We would also look at specific usage trends with regards to rideshare program data to draw correlations.

# Names

- Brendan Wong
- Pooja Yadav
- Kaila Lee
- Rajandeep Kaur
- Zoey Chesny

# Group Members IDs

- A15749312
- A13997099
- A12792644
- A13736425
- A13303136

# Research Question

To what extent do rideshare programs (e.g. Uber, Lyft) impact traffic during peak commute times?

## Background and Prior Work

To answer our research question and hypothesis, we'll be using Uber's Movement dataset to compare traffic and commute times on weekdays to that of DataSF's back before ridesharing was widespread. 

or

To answer our research question and hypothesis, we'll be using Uber's Movement dataset to compare traffic and commute times on weekdays between 2016 and 2018. Just from 2016 to 2017 alone, there was a 37% increase of use in rideshare services so there would be a big enough discrepancy to determine increase or decrease of traffic

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

Most of our data was pulled from [Uber's Movement Dataset](https://movement.uber.com/?lang=en-US). Each row is the aggregated mean and standard deviation of travel time and geometric travel time over the course of each quarter in the fiscal year. At the start of the project, quarter 1 of 2016 through quarter 3 of 2018 were available. Sources and destinations are determined by 'sourceid' and 'dstid'. We decided to choose the inner join of sources and destinations with over 10,000 rows as a source, and 5,000 as a destination. Furthermore we'd be tracking commute times so we'd be further filtering from rush hour in the Bay Area, all the time in San Francisco, but typically 7am - 10am and 3pm - 7pm.

In [1]:
# Imports

#Display plots directly in notebook
%matplotlib inline

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import linear_model
import patsy
import statsmodels.api as sm

# 2018 quarter 3 weekdays
# will need to download separately and store in working dir
q3_2018_location = 'san_francisco-censustracts-2018-3-OnlyWeekdays-HourlyAggregate.csv'

uber_df = pd.read_csv(q3_2018_location)
uber_df.shape
# set contains almost 10 million rows of data

(9613339, 7)

In [2]:
# sort by hours of the day 
uber_df.sort_values('hod').head()

,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
4806669,1498,1069,0,387.64,165.81,363.88,1.39
2732148,1742,1743,0,594.00,216.39,532.56,1.83
2732147,1743,1733,0,1319.04,326.51,1284.17,1.25
2732146,1772,1443,0,760.37,251.59,723.62,1.36
5281306,629,96,0,1102.59,329.58,1061.21,1.31

In [4]:

start = time.time()

for root, dirs, files in os.walk("/Users/brendanwong/Desktop/DATACLEANUP"):
    for file in files:
        if file.endswith(".csv"):
            path = root +"/"+ file
            df = pd.read_csv(path)
            print(file + " shape: " + str(df.shape))
            
            df.sort_values('hod')
            df['sourceid'].value_counts();
            sources = df['sourceid'].value_counts() < 6000;
            sources = sources.reset_index()
            
            for index, items in sources.iterrows():
                if not items['sourceid']:
                    sources.drop(index, inplace=True)
            
            print("sources shape: " + str(sources.shape))
            
            for index, items in sources.iterrows():
                df = df[df.sourceid != items['index']]
                
            print(file + " shape: " + str(df.shape))
            
            df['dstid'].value_counts()
            destinations = df['dstid'].value_counts() < 3500
            destinations = destinations.reset_index()
            
            for index, items in destinations.iterrows():
                if not items['dstid']:
                    destinations.drop(index, inplace=True)
            
            print("destinations shape: " + str(destinations.shape))
            
            for index, items in destinations.iterrows():
                df = df[df.dstid != items['index']]
            
            print(file + " shape: " + str(df.shape))
            
            hours = [0,1,2,3,4,5,6,11,12,13,14,20,21,22,23,24]
            
            for hour in hours:
                df = df[df.hod != hour]
                
            print(file + " shape: " + str(df.shape))
            
            df.to_csv("filtered_" + file)
            print("FILTERED SHAPE: " + str(df.shape))
            print("\n\n")
end = time.time()


print("time:\n\n\n\n")

print(end-start)

(436433, 7)

# Data Cleaning

Describe your data cleaning steps here.

1) Check for missing values 

2) Consolidate dataset 


* We want to see the trends of how uber usage increases over time and compare it to commute times
* exclude data that has small travel times to account for 
* dropped geometric travel time because we only care about arithmatic one
* travel time is given in seconds 


1) Determine peak travel hour of days 

2) How do mean times change from 2016 to 2018

3) pool from other sources to count the number of trips 

4) find common sources and destinations

In [3]:
# GOAL: find 4 most popular travel routes

num_sources = uber_df['sourceid'].value_counts()
num_dest = uber_df['dstid'].value_counts()

# find most popular routes based on sources and destinations 
# 4 most popular sources: 
pop_4_sources = num_sources[:4]
pop_4_dest = num_dest[:4]
print('top 4 most popular sources')
print(pop_4_sources)

# 4 most popular destinations: 
print('top 4 most popular destinations')
print(pop_4_dest)

# check if a route exists between them
uber_df[uber_df['sourceid'] == 963][uber_df['dstid'] == 234]

# check if these popular routes are in all the datasets

top 4 most popular sources
234     27446
2231    24946
2308    23853
2622    22913
Name: sourceid, dtype: int64
top 4 most popular destinations
234     28851
2308    24107
2622    23773
1743    23283
Name: dstid, dtype: int64

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
170905,963,234,16,1999.96,432.27,1958.11,1.22
395424,963,234,1,1239.74,297.00,1209.41,1.24
965293,963,234,19,1601.99,368.42,1564.73,1.24
1052223,963,234,21,1493.69,363.41,1455.92,1.25
1648827,963,234,22,1440.61,368.82,1401.86,1.25
1759455,963,234,23,1358.48,328.82,1324.88,1.24
2481985,963,234,0,1209.66,302.77,1179.36,1.24
3211751,963,234,10,1555.40,307.67,1530.10,1.19
3683372,963,234,18,1847.22,419.36,1803.84,1.24
3984378,963,234,6,1310.33,229.34,1293.24,1.17
4338752,963,234,15,1839.97,411.53,1801.26,1.22
4471555,963,234,17,2199.42,504.89,2146.90,1.24
4926262,963,234,7,1564.26,309.72,1537.37,1.20
5319224,963,234,9,1663.29,330.44,1633.45,1.21
5885086,963,234,4,1193.39,219.14,1176.18,1.18
6290912,963,234,14,1751.33,351.44,1719.72,1.21
7064170,963,234,11,1538.31,288.82,1514.52,1.19
7509069,963,234,12,1570.93,320.43,1543.30,1.20
7707866,963,234,5,1172.69,194.82,1158.70,1.16
7902439,963,234,8,1723.92,390.04,1686.41,1.23
8292392,963,234,20,1530.56,359.58,1495.58,1.23
8655777,963,234,2,1210.92,230.45,1191.37,1.19
9256509,963,234,3,1267.13,280.42,1242.60,1.21
9578408,963,234,13,1627.42,351.11,1595.60,1.22

The 4 most popular routes are from the following sources --> destinations. 

| popularity rank| source | destination  |
|---|---|---|
|1   |963   |234 |
|2   |212   |2622|
|3   |457   |2231|
|4   |532   |2308|

These routes were selected since they were from the most 4 most popular source cities to the 4 most popular destination cities.

A good question to ask- why are there more most popular destinations than sources?

In [7]:
# load the other datasets 

# 2018 quarter 3 weekdays
# will need to download separately and store in working dir
q1_2016_location = 'san_francisco-censustracts-2016-1-OnlyWeekdays-HourlyAggregate.csv'
q2_2016_location = 'san_francisco-censustracts-2016-2-OnlyWeekdays-HourlyAggregate.csv'
q3_2016_location = 'san_francisco-censustracts-2016-3-OnlyWeekdays-HourlyAggregate.csv'
q4_2016_location = 'san_francisco-censustracts-2016-4-OnlyWeekdays-HourlyAggregate.csv'
q1_2017_location = 'san_francisco-censustracts-2017-1-OnlyWeekdays-HourlyAggregate.csv'
q2_2017_location = 'san_francisco-censustracts-2017-2-OnlyWeekdays-HourlyAggregate.csv'
q3_2017_location = 'san_francisco-censustracts-2017-3-OnlyWeekdays-HourlyAggregate.csv'
q4_2017_location = 'san_francisco-censustracts-2017-4-OnlyWeekdays-HourlyAggregate.csv'
q1_2018_location = 'san_francisco-censustracts-2018-1-OnlyWeekdays-HourlyAggregate.csv'
q2_2018_location = 'san_francisco-censustracts-2018-2-OnlyWeekdays-HourlyAggregate.csv'

# read in all the csv files from the previous 10 quarters
uber_df_1 = pd.read_csv(q1_2016_location)
uber_df_2 = pd.read_csv(q2_2016_location)
uber_df_3 = pd.read_csv(q3_2016_location)
uber_df_4 = pd.read_csv(q4_2016_location)
uber_df_5 = pd.read_csv(q1_2017_location)
uber_df_6 = pd.read_csv(q2_2017_location)
uber_df_7 = pd.read_csv(q3_2017_location)
uber_df_8 = pd.read_csv(q4_2017_location)
uber_df_9 = pd.read_csv(q1_2018_location)
uber_df_10 = pd.read_csv(q2_2018_location)
uber_df_11 = pd.read_csv(q3_2018_location)

In [ ]:
# check if a route exists in each data frame 

# 1st most popular route is route 1 from 963 --> 234 
df1_route1 = uber_df_1[uber_df_1['sourceid'] == 963][uber_df_1['dstid'] == 234]
df1_route1['quarter'] = 'Q116'
df2_route1 = uber_df_2[uber_df_2['sourceid'] == 963][uber_df_2['dstid'] == 234]
df2_route1['quarter'] = 'Q216'
df3_route1 = uber_df_3[uber_df_3['sourceid'] == 963][uber_df_3['dstid'] == 234]
df3_route1['quarter'] = 'Q316'
df4_route1 = uber_df_4[uber_df_4['sourceid'] == 963][uber_df_4['dstid'] == 234]
df4_route1['quarter'] = 'Q416'
df5_route1 = uber_df_5[uber_df_5['sourceid'] == 963][uber_df_5['dstid'] == 234]
df5_route1['quarter'] = 'Q117'
df6_route1 = uber_df_6[uber_df_6['sourceid'] == 963][uber_df_6['dstid'] == 234]
df6_route1['quarter'] = 'Q217'
df7_route1 = uber_df_7[uber_df_7['sourceid'] == 963][uber_df_7['dstid'] == 234]
df7_route1['quarter'] = 'Q317'
df8_route1 = uber_df_8[uber_df_8['sourceid'] == 963][uber_df_8['dstid'] == 234]
df8_route1['quarter'] = 'Q417'
df9_route1 = uber_df_9[uber_df_9['sourceid'] == 963][uber_df_9['dstid'] == 234]
df9_route1['quarter'] = 'Q118'
df10_route1 = uber_df_10[uber_df_10['sourceid'] == 963][uber_df_10['dstid'] == 234]
df10_route1['quarter'] = 'Q218'
df11_route1 = uber_df_11[uber_df_11['sourceid'] == 963][uber_df_11['dstid'] == 234]
df11_route1['quarter'] = 'Q318'

# condensed uber datasets (containing only the most popular route)
dfs_route_1 = [df1_route1, df2_route1, df3_route1, df4_route1, df5_route1, df6_route1, df7_route1, df8_route1, df9_route1, df10_route1, df11_route1]

# 2nd most popular route is route 2 from 212 --> 2622
s = 212
d = 2622
df1_route2 = uber_df_1[uber_df_1['sourceid'] == s][uber_df_1['dstid'] == d]
df1_route2['quarter'] = 'Q116'
df2_route2 = uber_df_2[uber_df_2['sourceid'] == s][uber_df_2['dstid'] == d]
df2_route2['quarter'] = 'Q216'
df3_route2 = uber_df_3[uber_df_3['sourceid'] == s][uber_df_3['dstid'] == d]
df3_route2['quarter'] = 'Q316'
df4_route2 = uber_df_4[uber_df_4['sourceid'] == s][uber_df_4['dstid'] == d]
df4_route2['quarter'] = 'Q416'
df5_route2 = uber_df_5[uber_df_5['sourceid'] == s][uber_df_5['dstid'] == d]
df5_route2['quarter'] = 'Q117'
df6_route2 = uber_df_6[uber_df_6['sourceid'] == s][uber_df_6['dstid'] == d]
df6_route2['quarter'] = 'Q217'
df7_route2 = uber_df_7[uber_df_7['sourceid'] == s][uber_df_7['dstid'] == d]
df7_route2['quarter'] = 'Q317'
df8_route2 = uber_df_8[uber_df_8['sourceid'] == s][uber_df_8['dstid'] == d]
df8_route2['quarter'] = 'Q417'
df9_route2 = uber_df_9[uber_df_9['sourceid'] == s][uber_df_9['dstid'] == d]
df9_route2['quarter'] = 'Q118'
df10_route2 = uber_df_10[uber_df_10['sourceid'] == s][uber_df_10['dstid'] == d]
df10_route2['quarter'] = 'Q218'
df11_route2 = uber_df_11[uber_df_11['sourceid'] == d][uber_df_11['dstid'] == d]
df11_route2['quarter'] = 'Q318'

# condensed uber datasets (containing only the most popular route)
dfs_route_2 = [df1_route2, df2_route2, df3_route2, df4_route2, df5_route2, df6_route2, df7_route2, df8_route2, df9_route2, df10_route2, df11_route2]

# 3rd most popular route is route 2 from 457 --> 2231
s = 457
d = 2231
df1_route3 = uber_df_1[uber_df_1['sourceid'] == s][uber_df_1['dstid'] == d]
df1_route3['quarter'] = 'Q116'
df2_route3 = uber_df_2[uber_df_2['sourceid'] == s][uber_df_2['dstid'] == d]
df2_route3['quarter'] = 'Q216'
df3_route3 = uber_df_3[uber_df_3['sourceid'] == s][uber_df_3['dstid'] == d]
df3_route3['quarter'] = 'Q316'
df4_route3 = uber_df_4[uber_df_4['sourceid'] == s][uber_df_4['dstid'] == d]
df4_route3['quarter'] = 'Q416'
df5_route3 = uber_df_5[uber_df_5['sourceid'] == s][uber_df_5['dstid'] == d]
df5_route3['quarter'] = 'Q117'
df6_route3 = uber_df_6[uber_df_6['sourceid'] == s][uber_df_6['dstid'] == d]
df6_route3['quarter'] = 'Q217'
df7_route3 = uber_df_7[uber_df_7['sourceid'] == s][uber_df_7['dstid'] == d]
df7_route3['quarter'] = 'Q317'
df8_route3 = uber_df_8[uber_df_8['sourceid'] == s][uber_df_8['dstid'] == d]
df8_route3['quarter'] = 'Q417'
df9_route3 = uber_df_9[uber_df_9['sourceid'] == s][uber_df_9['dstid'] == d]
df9_route3['quarter'] = 'Q118'
df10_route3 = uber_df_10[uber_df_10['sourceid'] == s][uber_df_10['dstid'] == d]
df10_route3['quarter'] = 'Q218'
df11_route3 = uber_df_11[uber_df_11['sourceid'] == d][uber_df_11['dstid'] == d]
df11_route3['quarter'] = 'Q318'

# condensed uber datasets (containing only the most popular route)
dfs_route_3 = [df1_route3, df2_route3, df3_route3, df4_route3, df5_route3, df6_route3, df7_route3, df8_route3, df9_route3, df10_route3, df11_route3]

# 4th most popular route is route 2 from 212 --> 2622
s = 532
d = 2308
df1_route4 = uber_df_1[uber_df_1['sourceid'] == s][uber_df_1['dstid'] == d]
df1_route4['quarter'] = 'Q116'
df2_route4 = uber_df_2[uber_df_2['sourceid'] == s][uber_df_2['dstid'] == d]
df2_route4['quarter'] = 'Q216'
df3_route4 = uber_df_3[uber_df_3['sourceid'] == s][uber_df_3['dstid'] == d]
df3_route4['quarter'] = 'Q316'
df4_route4 = uber_df_4[uber_df_4['sourceid'] == s][uber_df_4['dstid'] == d]
df4_route4['quarter'] = 'Q416'
df5_route4 = uber_df_5[uber_df_5['sourceid'] == s][uber_df_5['dstid'] == d]
df5_route4['quarter'] = 'Q117'
df6_route4 = uber_df_6[uber_df_6['sourceid'] == s][uber_df_6['dstid'] == d]
df6_route4['quarter'] = 'Q217'
df7_route4 = uber_df_7[uber_df_7['sourceid'] == s][uber_df_7['dstid'] == d]
df7_route4['quarter'] = 'Q317'
df8_route4 = uber_df_8[uber_df_8['sourceid'] == s][uber_df_8['dstid'] == d]
df8_route4['quarter'] = 'Q417'
df9_route4 = uber_df_9[uber_df_9['sourceid'] == s][uber_df_9['dstid'] == d]
df9_route4['quarter'] = 'Q118'
df10_route4 = uber_df_10[uber_df_10['sourceid'] == s][uber_df_10['dstid'] == d]
df10_route4['quarter'] = 'Q218'
df11_route4 = uber_df_11[uber_df_11['sourceid'] == d][uber_df_11['dstid'] == d]
df11_route4['quarter'] = 'Q318'

# condensed uber datasets (containing only the most popular route)
dfs_route_4 = [df1_route4, df2_route4, df3_route4, df4_route4, df5_route4, df6_route4, df7_route4, df8_route4, df9_route4, df10_route4, df11_route4]

# print out shape of each route 
for df_route in [dfs_route_1, dfs_route_2, dfs_route_3, dfs_route_4]:
    for df in df_route:
        print(df.shape)

In [ ]:
# drop geometric mean columns: we are only interested in arithmetic means 
for df_route in [dfs_route_1, dfs_route_2, dfs_route_3, dfs_route_4]:
    for df in df_route:
        df.drop(columns=['geometric_mean_travel_time', 'geometric_standard_deviation_travel_time'], inplace=True)
        print(df.head())
        
# describe the data 
for df_route in [dfs_route_1, dfs_route_2, dfs_route_3, dfs_route_4]:
    for df in df_route:
        print(df.describe())

In [ ]:
route1_mean = pd.DataFrame(columns=['mean', 'quarter'])
for df_route in dfs_route_1:
    mean = df_route["mean_travel_time"].mean()
    quarter = df_route.iloc[0]
    quarter = quarter['quarter']
    route1_mean = route1_mean.append({'mean' : mean , 'quarter': quarter}, ignore_index=True)

route2_mean = pd.DataFrame(columns=['mean', 'quarter'])
for df_route in dfs_route_2:
    mean = df_route["mean_travel_time"].mean()
    quarter = df_route.iloc[0]
    quarter = quarter['quarter']
    route2_mean = route1_mean.append({'mean' : mean , 'quarter': quarter}, ignore_index=True)

route3_mean = pd.DataFrame(columns=['mean', 'quarter'])
for df_route in dfs_route_3:
    mean = df_route["mean_travel_time"].mean()
    quarter = df_route.iloc[0]
    quarter = quarter['quarter']
    route3_mean = route3_mean.append({'mean' : mean , 'quarter': quarter}, ignore_index=True)
    
route4_mean = pd.DataFrame(columns=['mean', 'quarter'])
for df_route in dfs_route_4:
    mean = df_route["mean_travel_time"].mean()
    quarter = df_route.iloc[0]
    quarter = quarter['quarter']
    route4_mean = route4_mean.append({'mean' : mean , 'quarter': quarter}, ignore_index=True)

# Data Visualization

In [ ]:
#Route 1 change over travel time 
route1_mean.plot(kind='line', x='quarter', y='mean')
plt.xticks(np.arange(0, 11, 1.0))
plt.xticks(np.arange(11), ('Q116', 'Q216', 'Q316', 'Q416', 'Q117', 'Q217', 'Q317', 'Q417', 'Q118', 'Q218', 'Q318'))

In [ ]:
route2_mean.plot(kind='line', x='quarter', y='mean')
plt.xticks(np.arange(0, 11, 1.0))
plt.xticks(np.arange(11), ('Q116', 'Q216', 'Q316', 'Q416', 'Q117', 'Q217', 'Q317', 'Q417', 'Q118', 'Q218', 'Q318'))

In [ ]:
route3_mean.plot(kind='line', x='quarter', y='mean')
plt.xticks(np.arange(0, 11, 1.0))
plt.xticks(np.arange(11), ('Q116', 'Q216', 'Q316', 'Q416', 'Q117', 'Q217', 'Q317', 'Q417', 'Q118', 'Q218', 'Q318'))

In [ ]:
route4_mean.plot(kind='line', x='quarter', y='mean')
plt.xticks(np.arange(0, 11, 1.0))
plt.xticks(np.arange(11), ('Q116', 'Q216', 'Q316', 'Q416', 'Q117', 'Q217', 'Q317', 'Q417', 'Q118', 'Q218', 'Q318'))


Upon visualizing the data, we saw that it would be more helpful to create a data frame based on seasons (quarters: 1-4) rather than looking at the progression throughout the years vs. mean travel time. In the following cells, we use the filtered data to find all routes in each dataset and combine different years with the same quarter under one column entry for each of the 4 quarters (seasons). 

Routes are determined as entries from the original data frame that have the same source and destination id. Our analysis is concerned with Uber travel times across different seasons, so the particular time of day the travel happened does not matter. Therefore, we can just take the average across hours of day for a particular route and add the entry to the dataframe accordingly. 

We can also drop the arithmatic mean, arithmatic standard deviation, geometric mean, and geometric standard deviation because we are just looking to find an average travel time for each particular route.

In [58]:
# read in filtered data into the dataframe for quarter 1, 2016
df1_loc = 'filtered_san_francisco-censustracts-2016-1-OnlyWeekdays-HourlyAggregate.csv'
df1 = pd.read_csv(df1_loc)
df1.head()

,Unnamed: 0,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
0,7,9,20,10,94.68,144.07,63.02,2.48
1,27,9,79,8,222.60,151.05,191.21,1.71
2,28,9,80,19,450.27,195.81,423.50,1.39
3,29,9,81,9,1424.28,366.28,1379.41,1.29
4,33,9,98,7,1191.91,302.11,1159.90,1.25

In [59]:
# drop unnecessary columns 
df1.drop(columns=['Unnamed: 0', 'hod', 'standard_deviation_travel_time', 'geometric_mean_travel_time', 'geometric_standard_deviation_travel_time'], inplace=True)
df1.head()

   sourceid  dstid  mean_travel_time
0         9     20             94.68
1         9     79            222.60
2         9     80            450.27
3         9     81           1424.28
4         9     98           1191.91

In [60]:
# method to find each route 

def find_route(df, year):
    # route_name : mean_travel_time (across all hours)
    route_data = {}
    for index, row in df.iterrows():
        route_name = str(row['sourceid']) + '-' + str(row['dstid'])
        if route_name not in route_data:
            to_add = (row['mean_travel_time'], 1)
            route_data[route_name] = to_add
        else: 
            count = route_data[route_name][1] + 1
            curr_sum = route_data[route_name][0] + row['mean_travel_time']
            to_add = (curr_sum, count)
            route_data[route_name] = to_add
    # now find the mean time for each route 
    route_names = [] 
    route_times = [] 
    years = []
    for route in route_data: 
        route_names.append(route)
        route_info = route_data[route]
        time = (route_info[0] / route_info[1])
        route_times.append(time)
        years.append(year)
    new_df = pd.DataFrame(list(zip(route_names, route_times)), columns=['route_name', 'mean_travel_time'])
    new_df['year'] = years
    new_df.set_index('route_name')
    return new_df

In [61]:
# df1_test = df1[:100]

# this is the size before condensing into routes 
print('original size')
orig_size = df1.size
print(df1.size)

df1 = find_route(df1, 2016)

# this is the size of the new dataframe with routes condensed 
print('new size')
print(df1.size)
new_size = df1.size
rows_eliminated = orig_size - new_size

print('I eliminated this many rows: ' + str(rows_eliminated))
df1.head(n=10)

original size
1384290
new size
171615
I eliminated this many rows:1212675

  route_name  mean_travel_time  year
0   9.0-20.0         99.581111  2016
1   9.0-79.0        195.021111  2016
2   9.0-80.0        444.638889  2016
3   9.0-81.0       1473.006667  2016
4   9.0-98.0       1761.753333  2016
5  9.0-113.0        725.247778  2016
6  9.0-155.0       3621.330000  2016
7  9.0-165.0        406.264444  2016
8  20.0-80.0        497.136667  2016
9  20.0-81.0       1449.917778  2016

In [ ]:
import os
for root, dirs, files in os.walk("/Users/zoeychesny/Desktop/filtered_data"):
    cleaned_dfs = [] 
    for file in files:
        if file.endswith(".csv"):
            path = root + '/' + file
            df = pd.read_csv(path)

            print(file + " \noriginal shape: " + str(df.shape))

            #drop unnecessary columns 
            df.drop(columns=['hod', 'standard_deviation_travel_time', 'geometric_mean_travel_time', 'geometric_standard_deviation_travel_time'], inplace=True)
            
            
            # this is the size before condensing into routes 
            orig_size = df.size
            year = int(file[36:40])
            quarter = int(file[41])

            df = find_route(df, 2016)

            # this is the size of the new dataframe with routes condensed 
            print('new shape')
            print(df.shape)
            new_size = df.size
            rows_eliminated = orig_size - new_size

            print('I eliminated this many rows:' + str(rows_eliminated))
            print('\n\n')
            
            
            df.to_csv("df_q" + str(quarter) + "_y"+ str(year) + ".csv")

            cleaned_dfs.append(df)

filtered_san_francisco-censustracts-2016-4-OnlyWeekdays-HourlyAggregate.csv
original shape: (1258589, 8)
new shape
(163915, 3)
I eliminated this many rows:4542611



filtered_san_francisco-censustracts-2017-3-OnlyWeekdays-HourlyAggregate.csv
original shape: (1525188, 8)

In [158]:
# find routes that are the same across all 11 quarters 

def route_matching(list_of_dfs):
    base = list_of_dfs[0]
    q1 = [0, 4, 8]
    q2 = [1, 5, 9]
    q3 = [2, 6, 10]
    q4 = [3, 7]
    all_routes = [] 
    q1_time = []
    q2_time = [] 
    q3_time = [] 
    q4_time = [] 
    
    quarters = [q1, q2, q3, q4]
    q_time = [q1_time, q2_time, q3_time, q4_time]
    
    route_count = 0 
    
    # find 100 routes across the datasets 
    while route_count < 101: 
        for index, row in base.iterrows():
            r_name = row['route_name']
            # now check all the other dfs for this route
            if is_route_in_all(r_name, list_of_dfs) == True:
                all_routes.append(r_name)
                route_count += 1 
                q_num = 0 

                # iterate for each quarter 
                for i in range(4):
                    time_sum = 0 
                    for j in quarters[i]:
                        time_sum = time_sum + extract_route_time(list_of_dfs[j], r_name)
                    time_mean = time_sum / len(quarters[i])
                    q_time[i].append(time_mean)

        new_df = pd.DataFrame(columns=['route_name', 'Q1_mean_travel_time', 'Q2_mean_travel_time', 'Q3_mean_travel_time', 'Q4_mean_travel_time'])
        new_df['route_name'] = all_routes
        new_df['Q1_mean_travel_time'] = q1_time
        new_df['Q2_mean_travel_time'] = q2_time
        new_df['Q3_mean_travel_time'] = q3_time
        new_df['Q4_mean_travel_time'] = q4_time
        return new_df
    

def is_route_in_all(route, list_of_dfs):
    for df in list_of_dfs: 
        check = list(df['route_name'])
        if route not in check:
            return False
    return True

# route_time
def extract_route_time(df, route_name):
    row = df.loc[df['route_name'] == route_name]
    time_list = list(row['mean_travel_time'])
    return float(time_list[0])

In [173]:
# new dataframes from filtered data 

new_dfs = [] 

import os
for root, dirs, files in os.walk("/Users/zoeychesny/Desktop/COGS-108-Final-Project"):
    cleaned_dfs = [] 
    for file in files:
        if file.endswith(".csv"):
            if file[0:2] == 'df':
                path = root +"/"+ file
                df = pd.read_csv(path)
                df.drop(columns='Unnamed: 0', inplace=True)
                new_dfs.append(df)
                
is_route_in_all('9.0-44.0', new_dfs)

False

In [166]:
allquarter_df = route_matching(new_dfs)
print(allquarter_df.size)
allquarter_df.head()

0

Empty DataFrame
Columns: [route_name, Q1_mean_travel_time, Q2_mean_travel_time, Q3_mean_travel_time, Q4_mean_travel_time]
Index: []

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

Make a function that changes the quarter names to numeric values from 1-11, 1 being the earliest quarter and 11 being the latest, so they can be used for multiple linear regression.

In [ ]:
def standardize_quarter(quarter):

    quarter = quarter.lower()
    
    quarter = quarter.strip()
    
    quarter = quarter.replace('q', '')
    quarter = quarter.replace('116', '1')
    quarter = quarter.replace('216', '2')
    quarter = quarter.replace('316', '3')
    quarter = quarter.replace('416', '4')
    quarter = quarter.replace('117', '5')
    quarter = quarter.replace('217', '6')
    quarter = quarter.replace('317', '7')
    quarter = quarter.replace('417', '8')
    quarter = quarter.replace('118', '9')
    quarter = quarter.replace('218', '10')
    quarter = quarter.replace('318', '11')
    
    quarter = quarter.strip()
    
    return int(quarter)

Apply function to data for all 4 routes.

In [ ]:
for df_route in dfs_route_1:
    df_route['quarter'] = df_route['quarter'].apply(standardize_quarter)
for df_route in dfs_route_2:
    df_route['quarter'] = df_route['quarter'].apply(standardize_quarter)
for df_route in dfs_route_3:
    df_route['quarter'] = df_route['quarter'].apply(standardize_quarter)
for df_route in dfs_route_4:
    df_route['quarter'] = df_route['quarter'].apply(standardize_quarter)

Use linear models to check if there is a significant difference in mean drive time during each quarter over each route.

In [ ]:
for df_route in dfs_route_1:
    outcome_route1, predictors_route1 = patsy.dmatrices('quarter ~ mean_travel_time', df_route)
    mod_route1 = sm.OLS(outcome_route1, predictors_route1)
    res_route1 = mod_route1.fit()

    p_value1 = res_route1.pvalues[1]
    
    if p_value1 < 0.01:
        print('There is a significant difference in mean drive time over route 1 during quarter', df_route['quarter'].iloc[0])

In [ ]:
for df_route in dfs_route_2:
    outcome_route2, predictors_route2 = patsy.dmatrices('quarter ~ mean_travel_time', df_route)
    mod_route2 = sm.OLS(outcome_route2, predictors_route2)
    res_route2 = mod_route2.fit()

    p_value2 = res_route2.pvalues[1]
    
    if p_value2 < 0.01:
        print('There is a significant difference in mean drive time over route 2 during quarter', df_route['quarter'].iloc[0])

In [ ]:
for df_route in dfs_route_3:
    outcome_route3, predictors_route3 = patsy.dmatrices('quarter ~ mean_travel_time', df_route)
    mod_route3 = sm.OLS(outcome_route3, predictors_route3)
    res_route3 = mod_route3.fit()

    p_value3 = res_route3.pvalues[1]
    
    if p_value3 < 0.01:
        print('There is a significant difference in mean drive time over route 3 during quarter', df_route['quarter'].iloc[0])

In [ ]:
for df_route in dfs_route_4:
    outcome_route4, predictors_route4 = patsy.dmatrices('quarter ~ mean_travel_time', df_route)
    mod_route4 = sm.OLS(outcome_route4, predictors_route4)
    res_route4 = mod_route4.fit()

    p_value4 = res_route4.pvalues[1]
    
    if p_value4 < 0.01:
        print('There is a significant difference in mean drive time over route 4 during quarter', df_route['quarter'].iloc[0])

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*